@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Pacifico&display=swap');

h3 {
    font-family: 'Pacifico', cursive;
}

body {
     font-family: 'Josefin Sans', sans-serif;
     font-size: 1.2rem;
}