@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Pacifico&display=swap');

h1, h2, h3 {
    font-family: 'Pacifico', cursive;
    color: #33691e;
    padding: 10px 0px;
}

h4 {
    font-family: 'Pacifico', cursive;
     font-size: 1.6rem;
     letter-spacing: 1px;
     color: #011408;
}

h5, h6 {
     font-family: 'Pacifico', cursive;
     font-weight: 300;
     font-size: 1.4rem;
     color: #011408
}

p, body {
     font-family: 'Josefin Sans', sans-serif;
     font-size: 1.2rem;
}

/* Navbar */
.brand-logo.center {
    font-family: 'Pacifico', cursive;
    text-shadow: 2px 0px 3px #022d0c
}

/*----------------------------------- Forms */
button, #btn {
    font-family: 'Pacifico', cursive;
    text-transform: none;
    font-size: 1.3rem;
}

input, input:focus,
input#username:focus,
input#password:focus {
  border-bottom: 1px solid #a1887f;
  box-shadow: 0 1px 0 0 #a1887f;
}

label, label:focus, label.active,
label#user-label.active,
label#user-label:focus,
label#password-label:focus, label#password-label.active
 {
  color:#a1887f;
}

input {
    font-family: 'Josefin Sans', sans-serif;
    color: #3e2723;
}

label {
    color: #3e2723;
}

/*-------------------------------------------- Flashes */
.flashes h4 {
    line-height: 2;
    font-family: 'Pacifico', cursive;
}

/*--------------------------------------------- Recipe Cards */
.collapsible-header {
        line-height: 1;
}

.collapsible-body {
    padding: .5rem;
}

.collection-item {
    font-size: 1rem;
    font-weight: 400;
    color: #4e342e;
    margin-top: 0px;
}

/*------------------------------------------- Add Recipe */

button.light-green.darken-1.waves-effect.waves-light.btn {
    text-transform: none;
    font-size: 1.3rem;
    letter-spacing: 1px;
    font-weight: 300;
}

textarea {
    font-family: 'Josefin Sans', sans-serif;
    color: #3e2723;
}


/*--------------------------------------- Edit Recipe */

.btn#edit-recipe, 
.btn#delete-recipe, button, #edit {
      font-family: 'Pacifico', cursive;
      text-transform: none;
      font-size: 1.2rem;
      letter-spacing: 1px;
      margin: 5px;
}

a#cancel {
    font-family: 'Pacifico', cursive;
      text-transform: none;
      font-size: 1.2rem;
      letter-spacing: 1px;
      margin: 5px;
}