{% extends "base.html" %}
{% block content %}

<h3 class="light-green-text text-darken-4 center-align" style="margin:40px 0px;">Add Recipe</h3>

<div class="card-panel transparent text-shadow" style="margin-top:40px;">
<div class="row">
    <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}" style="padding: 10px; margin-top:20px;">
      <div class="row">
        <div class="input-field col s6">
        <i class="fas fa-utensils prefix light-green-text text-darken-1"></i>
          <input id="recipe_name" name="recipe_name" type="text" class="validate" required>
          <label for="recipe_name brown-text text-darken-3">Recipe Name</label>
        </div>
        <div class="input-field col s6">
          <i class="fas fa-blender prefix light-green-text text-darken-1"></i>
          <input id="tools_needed" name="tools_needed" type="text" class="validate" required>
          <label for="tools_needed">Tools Needed</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <i class="fas fa-seedling prefix light-green-text text-darken-1"></i>
          <textarea id="recipe_description" name="recipe_description" type="text" minlength="5" maxlength="200" class="materialize-textarea validate" required></textarea>
          <label for="recipe_description">Description</label>
        </div>
      </div>
      <div class="row">
       <ul class="collection">
        <li class="input-field col s12">
         <i class="fas fa-plus prefix light-green-text text-darken-1"></i>
          <input id="ingredient1" name="ingredient1" type="password" class="validate">
          <label for="ingredient1">Ingredient 1</label>
        </li>
                <li class="input-field col s12">
                         <i class="fas fa-plus prefix light-green-text text-darken-1"></i>

          <input id="ingredient2" name="ingredient1" type="password" class="validate">
          <label for="ingredient2">Ingredient 1</label>
        </li>
        </ul>
      </div>
      <div class="row">
          <ul class="collection">
        <div class="input-field col s12">
                 <i class="fas fa-tasks prefix light-green-text text-darken-1"></i>
          <input id="step_one" name="step_one" type="text" class="validate" required>
          <label for="step_one">Step One</label>
        </div>
          </ul>
      </div>

      <div class="file-field input-field">
      <i class="fas fa-upload prefix light-green-text text-darken-1"></i>
        <input type="file"  id="image_source" name="image_source">
        <label for="image_source">
        Upload</label>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text">
      </div>
    </div>
    </form>
    </div>
</div>

{% endblock %}