{% extends "base.html" %} 
{% block content %}

<h3 class="center-align text-shadow">{{ username }}'s Profile</h3>
<!--Card Row-->
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card large">
            <div class="card-image">
                <div class="row center-align">
                    <i class="fas fa-user-circle light-green-text text-shadow"
                        style="font-size: 10rem; padding: 10px 10px; margin-top: 30px;">
                    </i>
                </div>
                <!--Floating Action Button with Link to Add Recipe Page (initialized in `script.js`) - copied from <https://materializecss.com/floating-action-button.html>  -->
                <div class="fixed-action-btn">
                    <a class="btn-floating btn-large light-green darken-4 waves-effect waves-light pulse text-shadow" href="{{ url_for('add_recipe') }}"><i class="fas fa-plus"></i></a>
                </div>
            </div>
            <!--Card Content-->
            <div class="card-content">
                <!-- input row-->
                <div class="row">
                    <form class="col s12">
                        <div class="input-field col s6">
                            <i class="fas fa-user-circle light-green-text prefix"></i>
                            <input id="icon_prefix" type="text" class="validate" />
                            <label for="icon_prefix"> {{ username }}</label>
                        </div>
                        <div class="input-field col s6">
                            <i class="fas fa-lock light-green-text prefix"></i>
                            <input id="edit-password" type="tel" class="validate" />
                            <label for="edit-password">Password</label>
                        </div>
                        <div class="col s12 center-align">
                            <button class="light-green darken-1 waves-effect waves-light btn" type="submit"
                                name="action">
                                Submit
                                <i class="fas fa-share"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}