{% extends "base.html" %}
{% block content %}

<h3 class="brown-text text-darken-4 center-align text-shadow">Welcome!</h3>
<div class="row center-align">
    <div class="card-panel col s12">
        <h4 id="welcome-user">
            You are logged in as: <strong class="light-green-text text-darken-1 text-shadow"> {{ username }}</strong>
        </h4>
        <div class="card-image">
        </div>
        <!--Feature Row-->
        <div class="row center-align" id="feature">
            <div class="col s12 m4 l4 offset-8">
                <a href="{{ url_for('get_recipes') }}" target="_blank">
                    <i class="fas fa-search light-green-text prefix text-darken-1" id="find-icon">
                        <h4>Search</h4>
                    </i></a>
                <p>Dash members discover new and exciting recipes everyday. Our collection of recipes is fun, diverse and
                    extensive. </p>
            </div>
            <div class="col s12 m4 l4 offset-8">
                <a href="{{ url_for('add_recipe') }}" target="_blank"><i class="fas fa-share-square light-green-text prefix text-darken-1" id="share-icon">
                        <h4>Contribute</h4>
                    </i></a>
                <p>Our food-loving community of Dash members contribute new, mouth-watering, recipe masterpieces every day!</p>
            </div>
            <div class="col s12 m4 l4 offset-8">
                <a href="{{ url_for('get_recipes') }}" target="_blank"><i class="fas fa-edit light-green-text prefix text-darken-1" id="edit-icon">
                        <h4>Edit</h4>
                    </i></a>
                <p>Dash trusts its' community. As a member, you can use your cooking expertise to edit
                    our large collection of recipes. </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}