{% extends "base.html" %}
{% block content %}

<h3 class="brown-text text-darken-4 center-align">All Recipes</h3>

<div class="row">
    <div class="col s12">
    <!--Search bar starts here-->
        <!-- Use GET method for searchbar form -->
        <form action="{{ url_for('search') }}" method="GET" class="col s12 center-align">
            <div class="row align-wrapper center-align">
                <div class="input-field col s12">
                    <i class="fas fa-search prefix light-green-text text-darken-1"> </i>
                    <input type="text" name="query" id="query" class="validate" minlength="3"
                        value="{{ request.args['query'] }}" required>
                    <label for="query">Search Recipes</label>
                </div>
                <div class="col s12">
                    <a href="{{ url_for('get_recipes') }}" class="red btn accent-2 text-shadow">Reset</a>
                    <button type="submit" class="submit btn light-green lighten-1">Search
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--./end-searchbar-->
</div>

<!-- All Recipes Section Starts Here-->
<div class="row">
{% if recipes|length > 0 %}
    {% for recipe in recipes %}
    <div class="{{ loop.cycle('odd', 'even') }}">{{ row }}
     <div class="col s12 m6 l2">
    <div class="card" id="card-reveal">
        <!-- Card Image Header -->
    <div class="card-image valign-wrapper waves-effect waves-block waves-light">
        <img src="{{ recipe.file }}" class="responsive-img activator" id="card-image">
    </div>
    <div class="card-content">
        <span class="card-title activator">
            {{ recipe.recipe_name }}</span>
                <p>{{ recipe.recipe_description }}</p>
                <p class="collection-item" style="margin-top: 10px;"><i class="fas fa-clock light-green-text text-darken-2 prefix"></i> Prep Time:
                {{ recipe.prep_time }}
            </p>
            </div>
            <div class="card-reveal">
            <div class="activator">
                <span class="card-title"><i class="fas fa-times prefix right"></i> {{ recipe.recipe_name }}</span>
                <h6><i class="fas fa-utensils light-green-text text-darken-2 prefix"></i> Tools Needed: </h6>
                <p>{{ recipe.tools_needed }}</p>
                <h6><i class="fas fa-blender light-green-text text-darken-2 prefix"> </i> Ingredients: </h6>
                <p>{{ recipe.recipe_ingredients }}</p>
                <h6><i class="fas fa-tasks light-green-text text-darken-1 "></i> Instructions: </h6>
                <p>{{ recipe.recipe_instructions }}</p>
                <div class="card-action center-align">
                <!-- Any user may edit a recipe as long as they are logged in-->
                {% if session["user"] %}
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn light-green lighten-1" id="edit-recipe"><i class="fas fa-pen-fancy white-text"></i> Edit</a>
                {% endif %}
                <!-- Provide 'Delete' option for recipe authors -->
                {% if session["user"] == recipe.created_by|lower %}
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn red accent-2" id="delete-recipe"><i class="fas fa-trash-alt white-text"></i> Delete</a>
                {% endif %}
                </div>
                </div>
            </div>
    </div>
     </div>
    </div>
    {% endfor %}
</div>
{% else %}
    <h4 class="deep-orange-text text-accent-3 center-align">No Recipes Found</h4>
{% endif %}

</div>
{% endblock %}