{% extends "base.html" %}
{% block content %}

<h3 class="light-green-text text-darken-4 center-align" style="margin:30px 0px;">Add Recipe</h3>

<div class="row">
  <ul class="collapsible popout">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header brown-text text-darken-3 light-green lighten-3 text-shadow">
                <i class="fas fa-utensils"></i>
                <strong>{{ recipe.recipe_name }}</strong> : 
                {{ recipe.prep_time }}
            </div>
            <div class="collapsible-body" style="margin: 10px 10px;">
                <p>{{ recipe.recipe_description }}</p>
                <p>{{ recipe.tools_needed }}</p>
                <p>{{ recipe.recipe_description }}</p>
                <p><em>by: {{ recipe.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
