{% extends "base.html" %}
{% block content %}

    {% for recipe in recipes %}
<div class="row">
    <div class="col s12 m6">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="{{ recipe.image_source }}" style="max-width: 100%; height: auto" />
            </div>

            <div class="card-content center-align">
                <span class="card-title light-green-text text-darken-1 activator">
                    {{ recipe.recipe_name }}</span>
                <p class="activator">{{ recipe.recipe_description }}</p>
            </div>
            <div class="card-reveal">
                <span class="card-title light-green-text text-darken-1 center-align">
                    {{ recipe.recipe_name }}
                    <i class="fas fa-times right"></i>
                </span>
                <ul class="collapsible popout">
                    <li>
                        <h5 class="collapsible-header brown-text darken-1">
                            <i class="fas fa-utensils light-green-text text-darken-3 prefix"></i>
                            Tools
                        </h5>
                        <div class="collapsible-body">
                            <ul class="collection">
                                <li class="collection-item">
                                    {{ recipe.tool_one }}</li>
                                <li class="collection-item">
                                    {{ recipe.tool_two }}</li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <h5 class="collapsible-header brown-text darken-1">
                            <i class="fas fa-blender light-green-text text-darken-3 prefix"></i>
                            Ingredients</h5>
                        <div class="collapsible-body">
                            <ul class="collection">
                                <li class="collection-item">
                                {{ recipe.ingredient1 }}</li>
                                <li class="collection-item">
                                {{ recipe.ingredient2 }}</li>
                                <li class="collection-item">
                                {{ recipe.ingredient3 }}</li>
                                <li class="collection-item">
                                {{ recipe.ingredient4 }}</li>
                                <li class="collection-item">
                                {{ recipe.ingredient5 }}</li>
                            </ul>
                        </div>
                    </li>

                    <li>
                        <h5 class="collapsible-header brown-text darken-3">
                            <i class="fas fa-temperature-high light-green-text text-darken-1 "></i>
                            Instructions</h5>
                        <div class="collapsible-body">
                            <ul class="collection">
                                <li class="collection-item">
                                {{ recipe.step_one }}</li>
                                <li class="collection-item">
                                {{ recipe.step_two }}</li>
                                <li class="collection-item">
                                {{ recipe.step_three }}</li>
                                <li class="collection-item">
                                {{ recipe.step_four }}</li>
                                <li class="collection-item">
                                {{ recipe.step_five }}
                                </li>
                            {% endfor %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
